body {
  background: var(--bg);
  color: var(--text);
  font-family: Ubuntu;
}

div.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
} 

#results, div.popup {
  padding: 1rem;
  max-height: 97vh;
  overflow-y: auto;
  text-align: center;
  vertical-align: middle;
}
div.popup p {
  text-align: center;
}
div.spacer {
  height: 0.0625rem;
  background: var(--bg_light);
  margin: 0.625rem;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  background: var(--bg);
  z-index: 100;
  display: none;
}
input,
button,
select {
  border: 0.25rem solid var(--border_btn);
  background-image: none;
  background-color: var(--bg_light);
  border-radius: 20rem;
  color: var(--text);
  padding: 0.625rem;
  margin: 0.3125rem;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  font-family: Ubuntu;
  font-size: 0.9rem;
}
button.danger {
  color: var(--accent3);
}
button:hover.danger,
button:focus.danger {
  box-shadow: 0rem 0rem 0.625rem 0.0625rem var(--accent3) !important;
}
input:hover,
button:hover,
select:hover,
input:focus,
button:focus,
select:focus {
  box-shadow: 0rem 0rem 0.625rem 0.0625rem var(--shadow_btn);
}

select {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

a {
  color: var(--accent2);
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.panel {
  background: var(--bg_light);
  flex-grow: 1;
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
}

#left, #right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#left {
  max-width: 40%;
}

#right {
  max-width: 60%;
}

.left_panel_section {
  background: var(--bg);
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  text-align: center;
}

#cover_pw {
  display: block;
}

#username {
  color: var(--accent1);
}

.session, .alert {
  background: var(--bg_light);
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.session>p {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  font-size: 1em;
}

table {
  text-align: center;
  width: 100%;
  border: 0.0625rem solid var(--border);
}

tr {
  background: var(--table_light);
}

tr:nth-of-type(2n) {
  background: var(--table_dark);
}

tr.header {
  background: var(--table_head_bg);
  color: var(--table_head_text);
}

th, td {
  padding: 0.3125rem;
}

#alert_container {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  width: 40%;
  opacity: 1;
  height: 50%;
  z-index: 999;
  pointer-events: none;
}

.alert {
  padding: 1.25rem;
  border: 0.3125rem solid white;
  background: var(--bg);
  transition: border-color 0.2s, opacity 0.5s;
  opacity: 1;
}

.alert:hover {
  border-color: var(--accent3);
}

.alert_fade {
  opacity: 0;
}

span.c {
  color: var(--accent2);
}

#max_scores_container {
  position: sticky;
  top: 0rem;
  margin-top: 0rem;
  background: var(--bg);
  padding: 0.625rem;
}

@media (max-aspect-ratio: 1/1) {
  #main {
    flex-direction: column;
  }
  .panel {
    max-width: 100% !important /* omg css is annoying */;
  }
  #left {
    order: 2;
  }
  #right {
    order: 1;
  }
  .popup {
    width: 85% !important;
    max-height: 100% !important; 
  }
}
