* {
    --accent: hsl(152, 94%, 49%);
    --accent_blue: hsl(190, 94%, 49%);
    --accent_red: hsl(4, 94%, 49%);
    --accent_purple: hsl(273, 80%, 63%);
  }

  body {
    background: #17171a;
    color: #ffffff;
    font-family: Ubuntu;
  }
  div.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
  } 

  div.popup {
    width: 50%;
    border: 1px solid white;
    border-radius: 16px;
    padding: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
  }
  div.popup p {
    text-align: center;
  }
  div.spacer {
    height: 1px;
    background: #333;
    margin: 10px;
  }
  .cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #17171a;
    z-index: 100;
    display: none;
  }
  input[type="text"], 
  input[type="number"], 
  input[type="password"],
  button {
    border: 4px solid #555;
    background-image: none;
    background-color: #333;
    border-radius: 25px;
    color: #fff;
    padding: 10px;
    margin: 5px;
    transition-property: box-shadow;
    transition-duration: 0.2s;
    font-family: Ubuntu;
  } 
  input[type="text"]:hover,
  input[type="number"]:hover, 
  input[type="password"]:hover,
  button:hover,
  input[type="text"]:focus,
  input[type="number"]:focus, 
  input[type="password"]:focus,
  button:focus {
    box-shadow: 0px 0px 10px 1px #aff;
  }

  #main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .panel {
    background: #333;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  
  #left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 40%;
  }

  .left_panel_section {
    background: #17171a;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  #cover_pw {
    display: block;
  }

  #username {
    color: var(--accent)
  }

  .session {
    background: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }

  .session>p {
    padding-left: 5px;
    padding-right: 5px;
  }

  #right {
    max-width: 60%;
  }
  
table {
  text-align: center;
  width: 100%;
  border: 1px solid white;
}

tr {
  background: #444;
}

tr:nth-of-type(2n) {
  background: #333;
}

tr.header {
  background: #ddd;
  color: #111;
}

th, td {
  padding: 5px;
}

@media (max-aspect-ratio: 2/3) {
  #main {
    flex-direction: column;
  }
  .panel {
    max-width: 100% !important /* omg css is annoying */;
  }
  #left {
    order: 2;
  }
  #right {
    order: 1;
  }
  .popup {
    width: 85% !important;
  }
}
