* {
    /* dark theme */
    --accent1: hsl(152, 94%, 49%);
    --accent2: hsl(190, 94%, 49%);
    --accent3: hsl(4, 94%, 49%);
    --accent4: hsl(273, 80%, 63%);
    --bg: hsl(240, 6%, 10%);
    --bg_light: hsl(0, 0%, 20%);
    --text: hsl(0, 0%, 100%);
    --border: hsl(0, 0%, 100%);
    --border_btn: hsl(0, 0%, 33%);
    --shadow_btn: hsl(180, 100%, 83%);
    --table_dark: hsl(0, 0%, 20%);
    --table_light: hsl(0, 0%, 27%);
    --table_head_bg: hsl(0, 0%, 87%);
    --table_head_text: hsl(0, 0%, 7%);
}